*{
    box-sizing:border-box;
    padding:0;
    margin:0;
    font-family: 'Jost', sans-serif;
}

body{
    background-color:rgb(250, 250, 250);
    font-family:sans-serif;
}

nav{
    background:rgb(49,11,68);
    padding:5px 10px;
}

ul{
    list-style-type:none;
}

a{
    color:rgb(204,255,0);
    text-decoration:none;
}

a:hover{
    color:#fefeff;
}

.menu li{
    font-size:16px;
    font-weight:bold;
    padding:10px 5px;
}

.menu li a{
    display:block;
    
}

.logo a{
    font-size:35px;
    font-weight:bold;
    color:rgb(204,255,0);
}

.item.button{
    border-bottom:1px #2222 solid;
}

/* MOBILE MENU */
.menu{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items:center;
}

.toggle{
    order:1;
}

.item.button{
    order:2;
    align-items:center;
    padding:8px 10px;
}

.item{
    width:100%;
    text-align:center;
    order:3;
    display:none;
}

.item.active{
    display:block;
}

.toggle{
    cursor:pointer;
}

.bars{
    background:rgb(204,255,0);
    display:inline-block;
    height:2px;
    position:relative;
    width:18px;
}

.bars::before,.bars::after{
    background:rgb(204,255,0);
    content:"";
    display:inline-block;
    height:2px;
    position:absolute;
    width:18px;
}

.bars::before{
    top:5px;
}

.bars::after{
    top:-5px;
}

/* TABLET MENU */

@media all and (min-width:468px){
    .menu{
        justify-content: space-between;
    }

    .logo a{
        flex:1;
        font-size:30px;
    }

    .item.button{
        width:auto;
        order:1;
        display:block; 
        border:0;
    }

    .toggle{
        order:2
    }
}
    .item.button a{
        justify-content: center;
        background-color: rgb(204,255,0);
        color: rgb(49,11,68);
        padding: 8px 20px;
        border: none;
        outline: none;
        border-radius: 30em;
        cursor: pointer;
        transition: scale 0.2 ease;
    }

    .item.button:hover{
        scale: 1.05;
    }

/* DESKTOP MENU */
    @media all and (min-width: 768px) {
        
        
        .item{
            display:block;
            width:auto;
            order:1;
        }
        .toggle{
            display:none;
        }
        .logo{
            order:0;
        }
        .item.button{
            order:2;
        }
        .menu li{
            padding: 0 10px;
        }

    }

/* MAIN SECTION */
.services_headline {
    display: block;
    font-size: 45px;
    color: rgb(49,11,68);
    text-align: center;
    padding: 50px;
}

.services_main p {
    display: block;
    font-size: 25px;
    text-align: center;
    padding: 0 30px;
    padding-bottom: 30px;
}
.services_main ul {
    padding-bottom: 30px;
}
.services_main li {
    display: block;
    font-size: 25px;
    text-align: center;
}
    

/* FOOTER */

.footer {
    background-color: rgb(49,11,68);
    padding: 30px 10px;

}   

.footer-container {
    margin: auto;

}

.footer-row {
    display: flex;
    flex-wrap: wrap;
}

.footer-col {
    width: 33%;
    padding: 0 35px;
}

.footer-col p {
    font-size: 20px;
    color: rgb(204,255,0);
    margin-bottom: 35px;
    position: relative;
}

.footer-col p::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: rgb(204,255,0);
    height: 2px;
    box-sizing: border-box;
    width: 75px;
}

.footer-col ul li {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 18px;
}

.footer-col ul li a:hover {
    color: white;
    padding-left: 3px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgb(204, 255, 00);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: rgb(49,11,68);
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: rgb(204, 255, 00);
    background-color: white;
}

/* FOOTER RESPONSIVE*/
@media screen and (max-width: 768px) {
    .footer-col {
        width: 50%;
        margin-bottom: 10px;
    }

    .footer-col .social-links {
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 480px) {
    .footer-col {
        width: 100%;
    }
}



