*{
    box-sizing:border-box;
    padding:0;
    margin:0;
    font-family: 'Jost', sans-serif;
}

body{
    background-color:rgb(250, 250, 250);
    font-family:sans-serif;
}

nav{
    background:rgb(49,11,68);
    padding:5px 10px;
}

ul{
    list-style-type:none;
}

a{
    color:rgb(204,255,0);
    text-decoration:none;
}

a:hover{
    color:#fefeff;
}

.menu li{
    font-size:16px;
    font-weight:bold;
    padding:10px 5px;
}

.menu li a{
    display:block;
}

.logo a{
    font-size:35px;
    font-weight:bold;
    color:rgb(204,255,0);
}

.item.button{
    border-bottom:1px #2222 solid;
}

/* MOBILE MENU */
.menu{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items:center;
}

.toggle{
    order:1;
}

.item.button{
    order:2;
}

.item{
    width:100%;
    text-align:center;
    order:3;
    display:none;
}

.item.active{
    display:block;
}

.toggle{
    cursor:pointer;
}

.bars{
    background:rgb(204,255,0);
    display:inline-block;
    height:2px;
    position:relative;
    width:18px;
}

.bars::before,.bars::after{
    background:rgb(204,255,0);
    content:"";
    display:inline-block;
    height:2px;
    position:absolute;
    width:18px;
}

.bars::before{
    top:5px;
}

.bars::after{
    top:-5px;
}

/* TABLET MENU */

@media all and (min-width:468px){
    .menu{
        justify-content: center;
    }

    .logo{
        flex:1;
    }

    .item.button{
        width:auto;
        order:1;
        display:block; 
        border:0;
    }

    .toggle{
        order:2
    }
}
    .item.button a{
        justify-content: center;
        background-color: rgb(204,255,0);
        color: rgb(49,11,68);
        padding: 8px 20px;
        border: none;
        outline: none;
        border-radius: 30em;
        cursor: pointer;
        transition: scale 0.2 ease;
    }

    .item.button:hover{
        scale: 1.05;
    }

/* DESKTOP MENU) */
    @media all and (min-width: 768px) {
        
        
        .item{
            display:block;
            width:auto;
            order:1;
        }
        .toggle{
            display:none;
        }
        .logo{
            order:0;
        }
        .item.button{
            order:2;
        }
        .menu li{
            padding: 0 10px;
        }

    }

/* SECTION HERO */
#hero{
    display:flex;
    flex-direction: column;
    height: 40rem;
    justify-content: center;
    text-align: right;
    background-color: rgb(49,11,68);
    background-size: cover;
    padding: 4rem;
    color:rgb(204,255,0);
}

#hero h1 {
    font-size: 50px;
    display:block;
    text-align:left;
    padding: 20px;
}

.h2 {
    font-size: 25px;
    display:block;
    text-align:right;
}
 
/* SECTION SERVICES */
#services{
    background-color:white;
    background-size:cover;
    height:40rem;
    padding:30px;
}

.services-title{
    display:block;
    text-align: center;
    font-size:30px;
    font-weight:bold;
    color:black;

}

.services-description{
    display:block;
    font-size:70px;
    text-align:center;
    padding:30px 10px 60px 10px;
}

.services-container{
    display:inline-grid;
}

.services-container {
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    column-gap:30px;
    row-gap:30px;
    padding:10px 50px;
    background-size: cover;
   
}

.service-box{
    font-weight:bolder;
    text-align: center;
    border: 3px rgb(162, 104, 196);
   
    box-shadow: 10px 5px 5px rgb(196, 195, 195);
    background-color:rgb(204,255,0);
    
}
.service-box:hover{
    cursor:pointer;
	transform: scale(1.1);

}

.service-name {
    font-weight:bold;
    text-align:left;
    font-size: 20px;
    padding: 30px 10px 10px 10px;
}

.service-explanation{
    text-align:left;
    font-weight:500;
    padding: 30px 10px 45px 10px;
}

