*{
    box-sizing:border-box;
    padding:0;
    margin:0;
    font-family: 'Jost', sans-serif;
}

body{
    background-color:rgb(250, 250, 250);
    font-family:sans-serif;
}

nav{
    background:rgb(49,11,68);
    padding:5px 10px;
}

ul{
    list-style-type:none;
}

a{
    color:rgb(204,255,0);
    text-decoration:none;
}

a:hover{
    color:#fefeff;
}

.menu li{
    font-size:16px;
    font-weight:bold;
    padding:10px 5px;
}

.menu li a{
    display:block;
    
}

.logo a{
    font-size:35px;
    font-weight:bold;
    color:rgb(204,255,0);
}

.item.button{
    border-bottom:1px #2222 solid;
}

/* MOBILE MENU */
.menu{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items:center;
}

.toggle{
    order:1;
}

.item.button{
    order:2;
    align-items:center;
    padding:8px 10px;
}

.item{
    width:100%;
    text-align:center;
    order:3;
    display:none;
}

.item.active{
    display:block;
}

.toggle{
    cursor:pointer;
}

.bars{
    background:rgb(204,255,0);
    display:inline-block;
    height:2px;
    position:relative;
    width:18px;
}

.bars::before,.bars::after{
    background:rgb(204,255,0);
    content:"";
    display:inline-block;
    height:2px;
    position:absolute;
    width:18px;
}

.bars::before{
    top:5px;
}

.bars::after{
    top:-5px;
}

/* TABLET MENU */

@media all and (min-width:468px){
    .menu{
        justify-content: space-between;
    }

    .logo a{
        flex:1;
        font-size:30px;
    }

    .item.button{
        width:auto;
        order:1;
        display:block; 
        border:0;
    }

    .toggle{
        order:2
    }
}
    .item.button a{
        justify-content: center;
        background-color: rgb(204,255,0);
        color: rgb(49,11,68);
        padding: 8px 20px;
        border: none;
        outline: none;
        border-radius: 30em;
        cursor: pointer;
        transition: scale 0.2 ease;
    }

    .item.button:hover{
        scale: 1.05;
    }

/* DESKTOP MENU */
    @media all and (min-width: 768px) {
        
        
        .item{
            display:block;
            width:auto;
            order:1;
        }
        .toggle{
            display:none;
        }
        .logo{
            order:0;
        }
        .item.button{
            order:2;
        }
        .menu li{
            padding: 0 10px;
        }

    }



/* SECTION HERO DESKTOP*/
    @media all and (min-width: 768px) {
        #hero{
            display:flex;
            flex-direction: column;
            height: 40rem;
            justify-content: center;
            text-align: right;
            background-color: rgb(49,11,68);
            background-size: cover;
            padding: 4rem;
            color:rgb(204,255,0);
        }

        #hero h1 {
            font-size: 50px;
            display:block;
            text-align:left;
            padding: 20px;
        }

        #hero h2 {
            font-size: 25px;
            display:block;
            text-align:right;
        }
}
 
/* SECTION HERO TABLET*/
@media all and (min-width:468px){
    #hero{
        display:flex;
        flex-direction: column;
        height: 30rem;
        justify-content: center;
        text-align: right;
        background-color: rgb(49,11,68);
        background-size: cover;
        color:rgb(204,255,0);
        padding: 25px;
    }

    #hero h1 {
        font-size: 50px;
        display:block;
        text-align:left;     
    }

    #hero h2 {
        font-size: 25px;
        display:block;
        text-align:right;
    }
}

/* SECTION HERO MOBILE*/
@media all and (max-width: 468px) {
    #hero {
        display:flex;
        flex-direction: column;
        height: 20rem;
        justify-content: center;
        text-align: right;
        background-color: rgb(49,11,68);
        background-size: cover;
        padding: 10px;
        color:rgb(204,255,0);
    }

    #hero h1 {
        font-size:30px;
        display:block;
        text-align:center;
        padding: 10px;
    }

    #hero h2 {
        font-size: 18px;
        display:block;
        text-align:center;
        padding:15px;
    }
}

/* SERVICES SECTION */

    .services-title {
        text-align: center;
        padding-top: 50px;
        font-size: 35px; 
        font-weight: bold;
        color: rgb(49,11,68);
    }

    .services-title::after {
        content:"";
        height: 4px;
        width: 230px;
        background-color: rgb(49,11,68);
        display: block;
        margin: auto;
    }

    .services-description {
        text-align: center;
        padding-top: 50px;
        padding-bottom: 50px;
        font-size: 45px; 
        color: rgb(49,11,68);
    }

    .all-services {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 40px;
        column-gap: 5px;
        justify-content: space-between;
        padding: 20px;
    }

    .service-card {
        display: block;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        margin: 0 20px;
        padding: 20px 20px;
        background-color: rgb(204,255,0);
        border: 3px rgb(162, 104, 196);
        box-shadow: 10px 5px 5px rgb(196, 195, 195);
    }

    .service-card a {
        display: block;
        text-align: center;
        padding: 30px 20px 5px 20px;
        font-size: 15px;
        color: black;
        text-decoration: underline;
    }

    .service-card:hover {
        cursor:pointer;
        transform: scale(1.1);
    }
        
    .service-title {
        font-weight: bold;
        font-size: 20px;
        text-align: center;
        padding: 5px;
        margin-bottom: 0;
    }

    .service-text {
        text-align: center;
        font-size: 18px;
        padding: 2px;
        margin-top: 0;
    }

/* SECTION SERVICES RESPONSIVE */ 

@media all and (max-width: 869px) {

    .all-services {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .service-card {
        width: 85%;
        display: block;
    }
}

@media screen and (max-width: 650px) {

    .all-services {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 15px;
    }

    .service-card {
        width: 90%;
        justify-content: center;
        padding: 20px 10px;
        margin: 5px;
}
}



@media screen and (max-width: 480px) {

    .services-title {
        padding-top: 30px;
        font-size: 25px; 
    }

    .services-title::after {
        height: 3px;
        width: 150px;
    }

    .services-description {
        padding-top: 30px;
        padding-bottom: 20px;
        font-size: 25px; 
    }

    .all-services {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 15px;
    }

    .service-card {
        width: 90%;
        justify-content: center;
        padding: 20px 10px;
        margin: 5px;
}

    .service-title {
        font-size: 16px;
        text-align: center;
        padding-bottom: 5px;
}

    .service-text {
        text-align: center;
        font-size: 16px;
        padding: 5px;
    }
}

/* CASE STUDIES */

.case-studies {
   background-color: rgb(144, 192, 205);
}

.cs-title {
    text-align: center;
    padding: 50px 0 25px;
    font-size: 35px; 
    font-weight: bold;
    color: rgb(204, 255, 00);
}

.cs-title::after {
    content:"";
    height: 4px;
    width: 280px;
    background-color: rgb(204, 255, 00);
    display: block;
    margin: auto;
}

.cs-container1 {
    display: flex;
    flex-wrap: wrap;
}
.cs-row {
    width: 43%;
    margin: auto;
}

.cs-description {
    font-size: 42px;
    color: rgb(204, 255, 00);
    text-align: center;
    padding-top: 20px;
}

.cs-container2 {
    display: flex;
    gap: 12px;
    max-width: 600px;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    background: rgb(177, 208, 216);
    box-shadow: 0 15px 25px rgb(32, 33, 34); 
    padding: 30px;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    scroll-padding: 30px;
}

.cs-container2 .card {
    display: flex;
    flex: 0 0 100%;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    background:  rgb(204, 255, 00);
    scroll-snap-align: start;
    box-shadow: 0 15px 25px rgb(32, 33, 34); 
}

.card .image {
    height: 100px;
    width: 100px;
    padding: 4px;
    background: rgb(204, 255, 00);

}

.image img {
    height: 70%;
    width: 70%;
    object-fit: cover;
   
}

.card h3 {
    margin-bottom: 25px;
    color: black;
    font-size: 25px;
    font-weight: 600;
}

.card {
    margin-top: 4px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

.markers {
    font-size: 40px;
    font-weight: bold;
    color: rgb(49,11,68);
    padding-top: 15px;
}


/* CASE STUDIES  RESPONSIVE*/
@media screen and (max-width: 960px) {
    
    .cs-row {
        width: 100%;
    }

    .cs-container2 {
        max-width: 70%;
        width: 100%;
        margin: 30px auto;
        padding: 20px;
    }

    .cs-description {
        font-size: 25px;
        margin: 25px;
        padding: 20px;
    }
    
    .card .image {
        height: 100px;
        width: 100px;
        padding: 4px;
    }
    
    .card {
        font-size: 15px;
    }
    
    .markers {
        font-size: 30px;
    }
}

@media screen and (max-width: 480px) {
    
    .cs-title {
        padding: 30px 0 10px;
        font-size: 25px; 
    }
    
    .cs-title::after {
        height: 3px;
        width: 200px;
    }

    .cs-row {
        width: 100%;
    }

    .cs-container2 {
        max-width: 500px;
        width: 100%;
        margin: 0;
        padding: 20px;
    }
    .cs-description {
        font-size: 25px;
        margin: 10px 0 10px;
        padding: 20px;
    }

}
    
    
    


/* OUR TEAM */




/* FOOTER */

.footer {
    background-color: rgb(49,11,68);
    padding: 30px 10px;
    margin: auto;

}   

.footer-row {
    display: flex;
    flex-wrap: wrap;
}

.footer-col {
    width: 33%;
    padding: 0 35px;
}

.footer-col p {
    font-size: 20px;
    color: rgb(204,255,0);
    margin-bottom: 35px;
    position: relative;
}

.footer-col p::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: rgb(204,255,0);
    height: 2px;
    box-sizing: border-box;
    width: 75px;
}

.footer-col ul li {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 18px;
}

.footer-col ul li a:hover {
    color: white;
    padding-left: 3px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgb(204, 255, 00);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: rgb(49,11,68);
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: rgb(204, 255, 00);
    background-color: white;
}

/* FOOTER RESPONSIVE*/
@media screen and (max-width: 768px) {
    .footer-col {
        width: 50%;
        margin-bottom: 10px;
    }

    .footer-col .social-links {
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 480px) {
    .footer-col {
        width: 100%;
    }
}

