*{
    box-sizing:border-box;
    padding:0;
    margin:0;
    font-family: 'Jost', sans-serif;
}

body{
    background-color: rgb(250, 250, 250);
}

nav{
    
    padding: 5px 10px;
    margin-left: 20px;
    margin-right: 20px;
    
}

ul{
    list-style-type: none;
}

.menu li a{
    color:rgb(49,11,68);
    text-decoration: none;
}

a:hover{
    color: rgb(162, 104, 196);
}

.menu li{
    font-size:16px;
    font-weight:bold;
    padding:10px 5px;
}

.menu li a{
    display:block;
    
}

.logo a{
    font-size:35px;
    font-weight:bold;
    color: rgb(49,11,68);
}

.item.button{
    border-bottom:1px #2222 solid;
}
.menu{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
}

.toggle{
    order:1;
}

.item.button{
    order:2;
    align-items:center;
    padding:8px 10px;
}

.item{
    width:100%;
    text-align:center;
    order:3;
    display:none;
}

.item.active{
    display:block;
}

.toggle{
    cursor:pointer;
}

.bars{
    background:rgb(49,11,68);
    display:inline-block;
    height:2px;
    position:relative;
    width:18px;
}

.bars::before,.bars::after{
    background:rgb(49,11,68);
    content:"";
    display:inline-block;
    height:2px;
    position:absolute;
    width:18px;
}

.bars::before{
    top:5px;
}

.bars::after{
    top:-5px;
}

/* TABLET MENU */

@media all and (min-width:468px){
    .menu{
        justify-content: space-between;

    }

    .logo a{
        flex:1;
        font-size:30px;
    }

    .item.button{
        width:auto;
        order:1;
        display:block; 
        border:0;
    }

    .toggle{
        order:2
    }
}
    .item.button a{
        justify-content: center;
        background-color: rgb(204,255,0);
        color: rgb(49,11,68);
        padding: 8px 20px;
        border: none;
        outline: none;
        border-radius: 30em;
        cursor: pointer;
        transition: scale 0.2 ease;
    }

    .item.button:hover{
        scale: 1.05;
    }

/* DESKTOP MENU */
    @media all and (min-width: 768px) { 

        .menu item{
            font-size: 35px; 
        }

        .item{
            display: block;
            width: auto;
            justify-content: right;
            gap: 10px;
            order: 1;
        }
        .toggle{
            display:none;
        }
        .logo{
            order: 0;
        }
        .item.button{
            order: 2;
        }
        .menu ul{
            padding: 0 10px;
        }
    }

@media all and (min-width: 1366px) { 
        #top {
            margin: 0 70px;
        }

        .logo a{
            font-size:50px;
        }

        .menu li{
            font-size: 30px;
            font-weight: bold;
            padding: 10px 5px;
        }
    }

@media all and (min-width: 1920px) {
    #top {
        margin: 0 100px;
        padding: 20px 10px;
    }

    .item.button a{
        padding: 15px 30px;
        border: none;
        outline: none;
        border-radius: 30em;
        cursor: pointer;
        transition: scale 0.2 ease;
    }
}

/* SECTION HERO */

 #hero{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 30rem;
    justify-content: center;
    text-align: right;
    margin-right: 20px;
    margin-left: 20px;
}

#hero::before {
    content:"";
    background-image: url("images/hero.jpg");
    opacity: 0.5;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    height: 30rem;
}
.hero1 {
    position: relative;
    font-size: 45px;
    font-weight: 500;
    color: rgb(49,11,68);
    display:block;
    text-align:left;
    padding: 10px;
    
}
.hero2 {
    position: relative;
    font-size: 35px;
    font-weight: 400;
    color: rgb(49,11,68);
    display:block;
    text-align:right;
    padding: 10px;
   
 }

/* SECTION HERO RESPONSIVE*/
@media all and (max-width: 468px) {
    #hero {
        padding: 10px;
    }

    #hero::before {
        content:"";
        height: 30rem;
    }

    .hero1 {
        font-size:35px;
        display:block;
        text-align:center;
        padding: 10px;
    }

    .hero2  {
        font-size: 22px;
        font-weight: 500;
        display:block;
        text-align:center;
        padding:15px;
    }
}

@media all and (min-width:768px){
    #hero{
        padding: 25px;
        margin: 0 20px;
    }

    .hero1 {
        font-size: 50px;
        display:block;
        text-align:left;     
    }

    .hero2 {
        font-size: 30px;
        font-weight: 500;
        display:block;
        text-align:right;
    }
}

    @media all and (min-width: 1280px) {
        #hero{
            margin: 0 30px;
        }

        .hero1 {
            font-size: 50px;
            margin-left: 50px;
        }

        .hero2  {
            font-size: 35px;
            margin-right: 70px;
        }
    }

    @media all and (min-width: 1366px) { 
        #hero {
            margin: 0 70px;
        }
        hero1 {
            font-size: 60px;
            margin-left: 50px;
        }

        .hero2  {
            font-size: 40px;
            margin-right: 70px;
        }
    }

    @media all and (min-width: 1920px) {
        #hero{
            margin: 0 70px;
        }

        .hero1 {
            font-size: 60px;
            margin-left: 80px;
        }

        .hero2 {
            font-size: 45px;
            margin-right: 80px;
        }
    }


/* SERVICES SECTION */

    .services-title {
        text-align: center;
        padding-top: 30px;
        font-size: 35px; 
        font-weight: bold;
        color: rgb(49,11,68);
    }

    .services-title::after {
        content:"";
        height: 4px;
        width: 230px;
        background-color: rgb(49,11,68);
        display: block;
        margin: auto;
    }

    .services-description {
        text-align: center;
        padding-top: 30px;
        padding-bottom: 10px;
        font-size: 45px; 
        color: rgb(49,11,68);
    }

    .all-services {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 40px;
        column-gap: 5px;
        justify-content: space-between;
        padding: 20px;
    }

    .service-card {
        display: block;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        margin: 0 20px;
        padding: 20px 20px;
        background-color: rgb(204,255,0);
        border: 3px rgb(162, 104, 196);
        border-radius: 20px;
        box-shadow: 10px 5px 5px rgb(196, 195, 195);
    }

    .service-card a {
        display: block;
        text-align: center;
        padding: 30px 20px 5px 20px;
        font-size: 15px;
        color: black;
        text-decoration: underline;
    }

    .service-card:hover {
        cursor:pointer;
        transform: scale(1.1);
    }
        
    .service-title {
        font-weight: bold;
        font-size: 20px;
        text-align: center;
        padding: 5px;
        margin-bottom: 0;
    }

    .service-text {
        text-align: center;
        font-size: 18px;
        padding: 2px;
        margin-top: 0;
    }

/* SECTION SERVICES RESPONSIVE */ 

@media all and (max-width: 1920px) {

    .services-title {
        font-size: 45px; 
        font-weight: bold;
        margin-top: 80px;
    }

    .services-description {
        font-size: 55px; 
        margin-bottom: 80px;
    }

    .all-services {
        margin: 0 150px;
        padding-bottom: 80px;
    }

    .service-text {
        font-size: 28px;
        padding: 2px;
        margin-top: 0;
    }

    .service-title {
        font-size: 30px;
        padding: 10px;
    }

    .service-card a {
        font-size: 25px;
    }
}

@media all and (max-width: 1366px) { 
    .all-services {
        margin: 0 50px;
        padding-bottom: 50px;
    }

    .services-title {
        font-size: 35px; 
        font-weight: bold;
        margin-top: 30px;
    }

    .services-description {
        font-size: 35px; 
        margin-bottom: 30px;
    }

    .service-text {
        font-size: 18px;
        padding: 2px;
        margin-top: 0;
    }

    .service-title {
        font-size: 20px;
        padding: 10px;
    }

    .service-card a {
        font-size: 15px;
    }
}

@media all and (max-width: 960px) {

    .all-services {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .service-card {
        width: 85%;
        display: block;
    }
}

@media screen and (max-width: 650px) {

    .all-services {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 15px;
    }

    .service-card {
        width: 90%;
        justify-content: center;
        padding: 20px 10px;
        margin: 5px;
}
}

@media screen and (max-width: 480px) {

    .services-title {
        padding-top: 30px;
        font-size: 25px; 
    }

    .services-title::after {
        height: 3px;
        width: 150px;
    }

    .services-description {
        padding-top: 30px;
        padding-bottom: 20px;
        font-size: 25px; 
    }

    .all-services {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 15px;
    }

    .service-card {
        width: 90%;
        justify-content: center;
        padding: 20px 10px;
        margin: 5px;
}

    .service-title {
        font-size: 16px;
        text-align: center;
        padding-bottom: 5px;
}

    .service-text {
        text-align: center;
        font-size: 16px;
        padding: 5px;
    }
}

/* CASE STUDIES */

.case-studies {
   background-color: rgb(144, 192, 205);
}

.cs-title {
    text-align: center;
    padding: 50px 0 25px;
    font-size: 35px; 
    font-weight: bold;
    text-shadow: 10px;
    color: rgb(204, 255, 00);
}

.cs-title::after {
    content:"";
    height: 4px;
    width: 280px;
    background-color: rgb(204, 255, 00);
    display: block;
    margin: auto;
}

.cs-container1 {
    display: flex;
    flex-wrap: wrap;
}
.cs-row {
    width: 43%;
    margin: auto;
}

.cs-description {
    font-size: 42px;
    color: rgb(204, 255, 00);
    text-align: center;
    padding-top: 20px;
}

.cs-container2 {
    display: flex;
    gap: 12px;
    max-width: 600px;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    background: rgb(177, 208, 216);
    box-shadow: 0 15px 25px rgb(32, 33, 34); 
    border-radius: 20px;
    padding: 30px;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    scroll-padding: 30px;
}

.cs-container2 .card {
    display: flex;
    flex: 0 0 100%;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    background:  rgb(204, 255, 00);
    scroll-snap-align: start;
    border-radius: 20px;
    box-shadow: 0 15px 25px rgb(32, 33, 34); 
}

.card .image {
    height: 100px;
    width: 100px;
    padding: 4px;
    background: rgb(204, 255, 00);

}

.image img {
    height: 70%;
    width: 70%;
    object-fit: cover;
   
}

.card h3 {
    margin-bottom: 25px;
    color: black;
    font-size: 25px;
    font-weight: 600;
}

.card {
    margin-top: 4px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

.markers {
    font-size: 40px;
    font-weight: bold;
    color: rgb(49,11,68);
    padding-top: 15px;
}


/* CASE STUDIES  RESPONSIVE*/

@media all and (max-width: 1920px) {
    .cs-title {
        padding: 100px 0 5px;
        font-size: 50px; 
    }

    .cs-title::after {
        width: 400px;
        margin-bottom: 65px;
    }

    .cs-description {
        font-size: 40px;
        color: rgb(204, 255, 00);
        text-align: center;
        padding-top: 20px;
    }

    .cs-container2 {
        max-width: 100%;
        width: 100%;
    }
    
    .card {
        font-size: 35px;
    }

    .card .image {
        height: 170px;
        width: 170px;
    }
}

@media screen and (max-width: 1366px) {
    .cs-row {
        width: 100%;
    }

    .cs-title {
        padding: 60px 0 5px;
        font-size: 35px; 
    }

    .cs-title::after {
        width: 300px;
        margin-bottom: 10px;
    }

    .cs-container2 {
        max-width: 70%;
        width: 100%;
        margin: 30px auto;
        padding: 20px;
    }

    .cs-description {
        font-size: 35px;
        margin: 15px 30px;
        padding: 10px;
    }
    
    .card .image {
        height: 150px;
        width: 150px;
    }
    
    .card {
        font-size: 25px;
    }
    
    .markers {
        font-size: 30px;
    }
}

@media screen and (max-width: 960px) {
    .cs-row {
        width: 100%;
    }

    .cs-title {
        padding: 30px 0 5px;
        font-size: 30px; 
    }

    .cs-title::after {
        width: 230px;
        margin-bottom: 10px;
    }

    .cs-container2 {
        max-width: 70%;
        width: 100%;
        margin: 30px auto;
        padding: 20px;
    }

    .cs-description {
        font-size: 25px;
        margin: 15px;
        padding: 10px;
    }
    
    .card .image {
        height: 100px;
        width: 100px;
        padding: 4px;
    }
    
    .card {
        font-size: 15px;
    }
    
    .markers {
        font-size: 30px;
    }
}

@media screen and (max-width: 480px) {
    
    .cs-title {
        padding: 30px 0 10px;
        font-size: 25px; 
    }
    
    .cs-title::after {
        height: 3px;
        width: 200px;
    }

    .cs-row {
        width: 100%;
    }

    .cs-container2 {
        max-width: 500px;
        width: 100%;
        margin: 0;
        padding: 20px;
    }
    .cs-description {
        font-size: 25px;
        margin: 10px 0 10px;
        padding: 20px;
    }

    .cs-container1 {
        margin-bottom: 30px;
    }

}
    
    

/* OUR TEAM */


/* FOOTER */

.footer {
    background-color: rgb(49,11,68);
    padding: 30px 10px;
    margin: auto;
}   

.footer-row {
    display: flex;
    flex-wrap: wrap;
}

.footer-col {
    width: 33%;
    padding: 0 35px;
}

.footer-col p {
    font-size: 20px;
    color: rgb(204,255,0);
    margin-bottom: 35px;
    position: relative;
}

.footer-col p::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: rgb(204,255,0);
    height: 2px;
    box-sizing: border-box;
    width: 75px;
}

.footer-col ul li {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 18px;
    color: rgb(204, 255, 00);
    text-decoration: none;
}

.footer-col ul li a:hover {
    color: white;
    padding-left: 3px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgb(204, 255, 00);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: rgb(49,11,68);
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: rgb(204, 255, 00);
    background-color: white;
}

/* FOOTER RESPONSIVE*/

@media all and (max-width: 1920px) {
    .footer {
        padding: 50px 40px;
        margin: auto;
    } 

    .footer-col p {
        font-size: 35px;
        margin-bottom: 40px;  
    }
    
    .footer-col p::before {
        width: 105px;
    }
    
    .footer-col ul li {
        margin-bottom: 20px;
    }
    
    .footer-col ul li a {
        font-size: 28px;
    }
    .footer-col .social-links a {
        display: inline-block;
        height: 80px;
        width: 80px;
        margin: 0 20px 20px 0;
        line-height: 80px;
    }
}

@media screen and (max-width: 960px) {
    .footer {
        padding: 30px 10px;
    } 

    .footer-col p {
        font-size: 22px;
        margin-bottom: 20px;  
    }
    
    .footer-col p::before {
        width: 80px;
    }
    
    .footer-col ul li {
        margin-bottom: 10px;
    }
    
    .footer-col ul li a {
        font-size: 18px;
    }
    .footer-col .social-links a {
        display: inline-block;
        height: 50px;
        width: 50px;
        margin: 0 10px 10px 0;
        line-height: 50px;
    }
}

@media screen and (max-width: 1366px) {
    .footer {
        padding: 30px 10px;
    } 

    .footer-col p {
        font-size: 22px;
        margin-bottom: 20px;  
    }
    
    .footer-col p::before {
        width: 80px;
    }
    
    .footer-col ul li {
        margin-bottom: 10px;
    }
    
    .footer-col ul li a {
        font-size: 18px;
    }
    .footer-col .social-links a {
        display: inline-block;
        height: 50px;
        width: 50px;
        margin: 0 10px 10px 0;
        line-height: 50px;
    }
}

@media screen and (max-width: 768px) {
    .footer-col {
        width: 50%;
        margin-bottom: 10px;
    }

    .footer-col .social-links {
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 480px) {
    .footer-col {
        width: 100%;
    }
}

