*{
    box-sizing:border-box;
    padding:0;
    margin:0;
    font-family: 'Jost', sans-serif;
}

body{
    background-color:rgb(250, 250, 250);
    font-family:sans-serif;
}

nav{
    background:rgb(49,11,68);
    padding:5px 10px;
}

ul{
    list-style-type:none;
}

a{
    color:rgb(204,255,0);
    text-decoration:none;
}

a:hover{
    color:#fefeff;
}

.menu li{
    font-size:16px;
    font-weight:bold;
    padding:10px 5px;
}

.menu li a{
    display:block;
    
}

.logo a{
    font-size:35px;
    font-weight:bold;
    color:rgb(204,255,0);
}

.item.button{
    border-bottom:1px #2222 solid;
}

/* MOBILE MENU */
.menu{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items:center;
}

.toggle{
    order:1;
}

.item.button{
    order:2;
    align-items:center;
    padding:8px 10px;
}

.item{
    width:100%;
    text-align:center;
    order:3;
    display:none;
}

.item.active{
    display:block;
}

.toggle{
    cursor:pointer;
}

.bars{
    background:rgb(204,255,0);
    display:inline-block;
    height:2px;
    position:relative;
    width:18px;
}

.bars::before,.bars::after{
    background:rgb(204,255,0);
    content:"";
    display:inline-block;
    height:2px;
    position:absolute;
    width:18px;
}

.bars::before{
    top:5px;
}

.bars::after{
    top:-5px;
}

/* TABLET MENU */

@media all and (min-width:468px){
    .menu{
        justify-content: space-between;
    }

    .logo a{
        flex:1;
        font-size:30px;
    }

    .item.button{
        width:auto;
        order:1;
        display:block; 
        border:0;
    }

    .toggle{
        order:2
    }

    .item.button a{
        justify-content: center;
        background-color: rgb(204,255,0);
        color: rgb(49,11,68);
        padding: 8px 20px;
        border: none;
        outline: none;
        border-radius: 30em;
        cursor: pointer;
        transition: scale 0.2 ease;
    }

    .item.button:hover{
        scale: 1.05;
    }
}

/* DESKTOP MENU */
    @media all and (min-width: 768px) {     
        .item{
            display:block;
            width:auto;
            order:1;
        }
        .toggle{
            display:none;
        }
        .logo{
            order:0;
        }
        .item.button{
            order:2;
        }
        .menu li{
            padding: 0 10px;
        }

    }

/* SECTION FORM */

.form-container {
    display: flex;
    flex-wrap: wrap;
}

